/* Typography */
h1, h3, h5 {
  font-weight: 300;
}
h2, h4, h6, p {
  font-weight: 400;
}

/* Nav elements overrides */
#logo img {
  vertical-align: middle;
}
#name-and-slogan {
  display: inline-block;
  margin: 0 7%;
}
.nav-section {
  display: inline;
}
.clearfix.right {
  clear: right;
}
/* Components */
.btn {
  margin: 0 10px 0 0;
}
form select {
  display: none;
}
.select-dropdown.dropdown-content li>a, .select-dropdown.dropdown-content li>span {
  font-size: 12px;
}
/* Prefix/Suffix CSS overrides */
form input {
 // width: auto !important;
}
.field-prefix + input[type="text"],
.field-suffix + input[type="text"] {
  text-align: center;
}

/* Textarea Grippie overrides */
textarea {
  margin-bottom: 0 !important;
}
textarea:focus + .grippie {
  margin-top: 1px;
}

/* File field CSS overrides*/
.file-field input[type="file"] {
  width: 91px !important;
}
.file-field button.btn {
  position: static;
  float: none;
  margin: 0 0 0 10px;
}
.file-path button[value="Remove"] {
  width: 0px !important;
}
.file-size ~ .validate {
  display: none;
}
/*Fieldset overrides*/
.collapsible-body {
  padding: 10px 20px;
}
/* Band-aids for growing pains, will be removed as project matures */
.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}
#page-wrapper {
  overflow-x: hidden;
}
#page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
table th, table td {
  padding: 15px 20px;
}

.ajax-progress {
  margin-left: 10px;
  vertical-align: middle;
}
.ajax-progress .throbber {
  background-image: url(../images/loading.gif);
  background-size: 32px;
  width: 32px;
  height: 32px;
}
.page-admin-people-permissions input[type="checkbox"]:not(:checked), 
.page-admin-people-permissions input[type="checkbox"]:checked {
  position: relative;
  left: 0;
}
/* Node Edit Tabs Overrides */
.tabs.primary,
.tabs.secondary {
  margin: 0;
  padding: 0 !important;
  border: none !important;
}
.tabs.primary a,
.tabs.secondary a {
  padding: 0 !important;
  background: none !important;
  color: #009688 !important;
  border: 0 !important;
  border-bottom: 2px solid #e0f2f1 !important;
}
.tabs.primary .tab,
.tabs.secondary .tab {
  width: 10% !important;
}
.tabs .indicator {
  background: #80cbc4 !important;
}
.form-textarea-wrapper {
  border: 1px solid #bdbdbd;
}
/* Accordion - Features Override */
fieldset.features-export-component.collapsible {
  background: #fff !important;
}
#features-filter fieldset {
  padding: 0 10px !important;
}
.container-inline div.collapsible-header {
  display: block;
}
/* Pager */
.pager-wrap {
  max-width: 725px;
  margin: 0 auto;
}
.prev.first {
  margin-right: 30px;
}
.clearafter:after {
  content: '';
  display: block;
  clear: both;
}
a.feed-icon {
  display: none;
}
/* Status Messages */
.alert {
  color: #fff;
}
.alert a {
  color: #bbdefb;
}
/*Admin specific overrides*/
div.admin .left {
  margin-left: 0;
}
.admin-panel.card {
  margin: 30px 0;
  padding: 15px 120px 45px 15px;
  background-size: 75px;
  background-position: 96% 15px;
  background-repeat: no-repeat;
}
.admin-panel.card.people {
  background-image: url('../images/config/people.png');
}
.admin-panel.card.content {
  background-image: url('../images/config/content.png');
}
.admin-panel.card.media {
  background-image: url('../images/config/media.png');
}
.admin-panel.card.search {
  background-image: url('../images/config/search.png');
}
.admin-panel.card.system {
  background-image: url('../images/config/system.png');
}
.admin-panel.card.user-interface {
  background-image: url('../images/config/user-interface.png');
}
.admin-panel.card.development {
  background-image: url('../images/config/development.png');
}
.admin-panel.card.services {
  background-image: url('../images/config/services.png');
}
.admin-panel.card.regional {
  background-image: url('../images/config/regional.png');
}
.admin-panel.card.administration {
  background-image: url('../images/config/administration.png');
}
.admin-panel.card .title, div.admin-panel .description {
  font-weight: 300;
}
.admin-panel dt a {
  font-weight: 400;
}

tr.even,
tr.odd {
  background: none;
}

.filter-wrapper {
  .collapsible-body {
    display: block !important;
  }
}

#send-form {
  display: block;
  width: 200px;
  position: fixed;
  z-index: index($elements, feedback);
  right: 50px;
  background: blue;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  transform: translateY(-30px);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  height: 410px;
  bottom: -410px;

  .show-form {
    padding-top: 3px;
    height: 30px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    width: 100%;
  }

  .btn-close {
    display: none;
    left: -35px;
    font-size: 26px;
    position: absolute;
    color: red;
  }

  .form-content {
    width: 100%;
    padding: 10px 10px 0 10px;
    box-sizing: border-box;
    height: 100%;

    .form {
      background: white;
      padding: 10px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      opacity: 0;
    }

    #send-form textarea {
       resize: none;
    }
  }

  &.open {
    bottom: 0;
    transform: translateY(0);
    width: 400px;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.9);
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.9);

    &.filled {
      bottom: -300px;
    }

    .btn-close {
      display: block;
    }

    .form-content .form {
      opacity: 1;
    }
  }

}

.cart-nav-link {
  display: inline-block;
  float: right;

  i {
    display: inline-block;
  }
}

.toast {
  i {
    font-size: 36px; // todo
    margin-right: 20px;
  }

  .bq {
    font-size: 36px;
  }
}

.side-nav {
  z-index: index($elements, dropdown);
}

.preloader-overlay {
  width: 100%;
  height: 100%;
  display: block;
  z-index: index($elements, preloader);
  position: fixed;
  background: rgba(255, 255, 255, 0.95);
  top: 0;
  left: 0;

  .preloader-container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
}

i.icon {
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.chip {
  .icon {
    cursor: pointer;
    float: right;
    font-size: 24px;
    line-height: 32px;
    padding-left: 8px;
  }
}

.page-taxonomy-term {
  .card {
    width: 23%;
    display: inline-block;
    vertical-align: top;
    margin: 8px;
  }
}

