&.hide-empty {
  #catalog-tree .card.is-empty {
    display: none;
  }
}

#catalog-tree  {
  ul, li {
    //reset
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
  }

  > .item-list > ul > li .item-list {
    display: none;

    &.open {
      display: block;
    }
  }

  .card {
    max-width: 300px;
    display: inline-block;
    vertical-align: top;
    margin: 8px;

    .card-hidden-title {
      display: none;
    }
  }
}

#catalog-nav {
  border: black 1px solid;
  margin-bottom: 40px;

  a {
    margin-right: 30px;
  }
}

.hide {
  display: none;
}
