.page-node-add-coin,
.page-node-edit.node-type-coin {
    .coin-form {
        #edit-prices {
            display: none;
        }

        &.just-sell {
            #edit-auction  {
                display: none;
            }

            #edit-prices {
                display: block;
            }
        }

    }
}


